[submodule "catkin_ws/src/tum_ardrone"]
	path = catkin_ws/src/tum_ardrone
  url = https://github.com/tum-vision/tum_ardrone.git
  branch = indigo-devel
[submodule "catkin_ws/src/tum_simulator"]
	path = catkin_ws/src/tum_simulator
	url = https://github.com/tum-vision/tum_simulator.git
