# Fallback, default owner is one does not exist.
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches the highest-level directory, only those
# owners will be requested to review.
*                                                                   @kirmani

# Catkin workspace.
journey/scripts/collision_avoidance/*                               @patil215
journey/scripts/collision_avoidance/simulation_randomization.py     @armandb
journey/scripts/nav_planner/nav_planner.py                          @alioup @jishminor

# Experimental directories
experimental/armandb/*                                              @armandb
experimental/alioup/*                                               @alioup
experimental/jishminor/*                                            @jishminor
experimental/kirmani/*                                              @kirmani
experimental/taylorzhao/*                                           @taylorzhao
experimental/yursky/*                                               @yursky

# Miscellanous book-keeping.
papers/*                                                            @alioup @kirmani
